.header {
  background-color: #f5ba13;
  padding: 10px;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-title {
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.icon {
  width: 30px;
  height: 30px;
}

footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Style for the copyright text */
footer p {
  font-size: 14px;
  color: #333;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.keep-note {
  margin-left: 700px;
  margin-top: 70px;
  width: 300px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

input,
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 14px;
}

textarea {
  height: 100px;
}

.add-button {
  background-color: #f5ba13;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 100px;
  margin-top: 70px;
}

.notes {
    width: 250px;
      margin: 10px;
      padding: 10px;
      background-color: #fff;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      border: 1px solid #ccc;
      border-radius: 5px;
}